.tabs__container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.tabs__line {
  display: flex;
  gap: 0.3em;
}

.tabs__container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  height: 1em;
  background-image: url("/src/assets/images/rope-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.tabs__tab {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  padding: 0.4em;
  text-align: center;
  background: linear-gradient(#eee 50%, #fff 50%);
  border: 0.05em solid #ccc;
  border-radius: 0.5em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, visibility 0.3s, opacity 0.3s;
  z-index: 2;
}

.tabs__tab:nth-child(odd) {
  transform: rotate(-4deg);
}

.tabs__tab:nth-child(even) {
  transform: rotate(4deg);
}

.tabs__tab.current {
  background: linear-gradient(#38823a 50%, #4caf50 50%);
  border: 0.05em solid #38823a;
  color: #fff;
}

.tabs__tab.played {
  display: none;
}

.tabs__tab.incorrect {
  background: linear-gradient(#bd0000 50%, #ff0000 50%);
  border: 0.05em solid #bd0000;
  color: #fff;
  animation: vibration 0.3s ease-in-out;
}

@keyframes vibration {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(-0.1em) rotate(8deg);
  }
  50% {
    transform: translateX(0.1em) rotate(0deg);
  }
  75% {
    transform: translateX(-0.1em) rotate(8deg);
  }
  100% {
    transform: translateX(0.1em) rotate(0deg);
  }
}