.tabs-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.tabs-line {
  display: flex;
  overflow: hidden;
}

.tab {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  padding: 10px;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  transition: background-color 0.3s, visibility 0.3s, opacity 0.3s;
}

.tab.current {
  background-color: #4caf50; /* Highlight the current note */
  color: #fff;
}

.tab.played {
  display: none;
}
