.kalimba__container {
  display: flex;
  max-width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: rgb(136, 96, 44);
}

.kalimba__key {
  width: 1.55em;
  height: 8em;
  background-color: #7b4444;
  border: 1px solid #666;
  border-radius: 8px;
  margin: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.kalimba__key:hover {
  background-color: #d0d0d0;
}
